/* PORTFOLIO */
.work-block {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--background-team-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.filter-button {
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}

.filter-button.current {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

button {
    cursor: pointer;
}

.button-line {
    background-color: var(--background-button-color);
    margin-left: 8px;
}

/*CATOLOG*/
.portfolio-item .portfolio-link {
    display: block;
    transition: color 250ms var(--time-function);
}

.portfolio-item {
    margin-top: 30px;
    margin-right: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.portfolio-link:hover,
.portfolio-link:focus {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
        1px 4px 6px rgb(0 0 0 / 16%);
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
}

.card-description {
    display: block;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.content-title {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.product-thumb {
    position: relative;
    overflow: hidden;
}

.product-actions {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: translateY(100%);
    padding: 63px 24px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background: rgba(33, 150, 243, 0.9);
    color: var(--secondary-text-color);
    opacity: 0;
}

.portfolio-link:hover .product-actions {
    transform: translateY(0%);
    opacity: 1;
}

/* ICONS HEADER*/
.contact-icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
}

/*OVERLAY*/
.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.social-list-item:hover .social-list-link {
    fill: #ffffff;
}