:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #ffffff;
    --primary--button-color: #188ce8;
    --background-button-color: #f5f4fa;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --accent-color: #2196f3;
    --secondary-address-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --background-team-color: #f5f4fa;
    --icon-color: #afb1b8;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* УЛИТЫ */
h1,
h2,
h3,
p {
    margin-bottom: 0;
    margin-top: 0;
}

/* Without dots */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--title-text-color);
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* HEADER  */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cecece;
}

.header {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav-link {
    position: relative;
}

.site-nav-link.current::after {
    content: "";
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -33px;
}

.site-nav .site-nav-link.current {
    color: var(--accent-color);
}

.container-header {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.site-nav {
    color: var(--title-text-color);
    display: flex;
}

.navigation .site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.contacts .contact-link {
    color: var(--primary-text-color);
}

.contacts-item .contact-link {
    display: flex;
    align-items: center;
    transition: color 250ms var(--time-function);
}

.contacts .contact-link:hover {
    color: var(--accent-color);
}

.contact-icon {
    transition: color 250ms var(--time-function);
}

.contact-link:hover .contact-icon {
    fill: var(--accent-color);

}

/*HERO*/

.post {
    background-color: var(--secondary-background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    transition: color 250ms var(--time-function);
}

.post-title {
    color: var(--secondary-text-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0;
    margin-bottom: 30px;
}

.post-button {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    margin: 0 auto;
    padding: 10px 30px;
    font-weight: bold;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    text-align: center;
    display: block;
}


/*BENEFITS*/
.benefits {
    padding-top: 94px;
    margin-bottom: 0;
}

.benefits-list {
    display: flex;
    align-items: center;
}

.benefits-block::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-size: contain;
    background: var(--background-team-color);
}

.icon-antenna::before {
    background-image: url("../images/antenna1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-clock::before {
    background-image: url("../images/clock1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-diagram::before {
    background-image: url("../images/diagram1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-astronaut::before {
    background-image: url("../images/astronaut1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.benefits-name {
    color: var(--title-text-color);
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
}

.benefits-block:not(:last-child) {
    margin-right: 30px;
}

/* ACTIVITY */
.activity {
    color: var(--title-text-color);
    padding-top: 94px;
    padding-bottom: 94px;
    box-sizing: border-box;
}

.work {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.activity-overlay {
    position: relative;
}

.activity-overlay-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

/* TEAM */
.team {
    color: var(--title-text-color);
    background-color: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
}

.team-description {
    padding: 30px 0;
}

.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-function {
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.img-team {
    flex-direction: column;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}

.img-team:not(:last-child) {
    margin-right: 30px;
}

.social-list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-list-icon {
    width: 20px;
    height: 20px;
    transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
}

.social-list-link:hover,
.social-list-link:focus {
    fill: var(--primary-background-color);
    background-color: var(--accent-color);
}

.social-list-item:not(:first-child) {
    margin-left: 10px;
}

/*CLIENTS*/
.clients {
    color: var(--title-text-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--icon-color);
}

.clients-item {
    margin-left: 30px;
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-icon {
    transition: color 250ms var(--time-function);
}

/*FOOTER*/
.page-footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    font-style: normal;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--secondary-address-color);
}

.address-item {
    margin-bottom: 9px;
}

.footer-address-text {
    letter-spacing: 0.03em;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}

.footer-address-list .link {
    color: var(--secondary-address-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-wrapper {
    display: flex;
    margin: 0 auto;
    align-items: baseline;
}

.footer-social-link-item {
    width: 206px;
    height: 80px;
    margin-left: 70px;
}

.footer-social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: color 250ms var(--time-function);
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-background-color);
}

.footer-social-link:focus,
.footer-social-link:hover {
    background-color: var(--accent-color);
}

/* JUST FOCUS AND HOVER */
.site-nav .site-nav-link:focus,
.site-nav .site-nav-link:hover {
    color: var(--accent-color);
}

.filter-button:focus,
.filter-button:hover {
    color: var(--secondary-text-color);
}

.post-button:hover,
.post-button:focus {
    background-color: var(--primary--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.filter-button:focus,
.filter-button:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.clients-link .link:focus,
.clients-link .link:hover {
    color: var(--accent-color);
}

/* LOGO */
.logo {
    color: var(--accent-color);
    margin-right: 93px;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-indent {
    display: block;
    margin-bottom: 20px;
}

.logo-dark {
    color: #000000;
}

.logo-light {
    color: #ffffff;
}

/*MODAL WINDOW*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
    margin-top: 8px;
    margin-left: 490px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(./images/);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.modal-icon {
    fill: currentColor;
    align-items: center;
}

.modal-icon:hover,
.modal-icon:focus {
    color: var(--accent-color);
}

/*FORM MODAL WINDOW*/
.modal-form {
    width: 528px;
    padding-right: 40px;
    padding-left: 40px;
}

.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-background-color);
    margin-bottom: 12px;
}

.modal-form-label {
    display: flex;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.modal-form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-input {
    padding: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 448px;
    cursor: pointer;
}

.modal-form-icon {
    position: absolute;
    left: 12px;
    top: 28px;
    fill: rgba(33, 33, 33, 1);
}

.comment {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

.comment:focus {
    outline: none;
    border-color: var(--accent-color);
}

.comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-input:focus+.modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.modal-form-policy-text {
    display: flex;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal-form-policy-icon {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
}

.modal-form-policy-link {
    font-style: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.agree-btn {
    padding: 10px 30px;
    min-width: 200px;
    text-align: center;
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.modal-form-label-title {
    display: flex;
}


/* PORTFOLIO */
.work-block {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--background-team-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.filter-button {
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}

.filter-button.current {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

button {
    cursor: pointer;
}

.button-line {
    background-color: var(--background-button-color);
    margin-left: 8px;
}

/*CATOLOG*/
.portfolio-item .portfolio-link {
    display: block;
    transition: color 250ms var(--time-function);

}

.portfolio-item {
    margin-top: 30px;
    margin-right: 30px;
    flex-basis: calc(100% / 3 - 30px);
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover::before {
    opacity: 1;
}

.portfolio-link:hover,
.portfolio-link:focus {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
        1px 4px 6px rgb(0 0 0 / 16%);


}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
}

.content:hover,
.product-thumb {
    opacity: 1;
    transform: translateX(0);
}

.card-description {
    display: block;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.content-title {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.product-thumb {
    position: relative;
    overflow: hidden;
}

.product-actions {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: translateY(100%);
    padding: 63px 24px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background: rgba(33, 150, 243, 0.9);
    color: var(--secondary-text-color);
    opacity: 0;
    transition: transform 250ms linear, opasity 250ms linear;
}

.portfolio-link:hover .product-actions {
    transform: translateY(0%);
    opacity: 1;
}

/* ICONS HEADER*/
.contact-icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
}

/*OVERLAY*/
.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.social-list-item:hover .social-list-link {
    fill: #ffffff;
}