.benefits {
    padding-top: 94px;
    margin-bottom: 0;
}

.benefits__list {
    display: flex;
    align-items: center;
}

.benefits__block::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-size: contain;
    background: $background-team-color;
}

.benefits__icon-antenna::before {
    background-image: url("../images/antenna1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.benefits__icon-clock::before {
    background-image: url("../images/clock1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.benefits__icon-diagram::before {
    background-image: url("../images/diagram1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.benefits__icon-astronaut::before {
    background-image: url("../images/astronaut1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.benefits {
    padding-top: 94px;
    margin-bottom: 0;
}

.benefits-list {
    display: flex;
    align-items: center;
}

.benefits__block::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-size: contain;
    background: $background-team-color;
}

.benefits__icon-antenna::before {
    background-image: url("../images/antenna1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.benefits__icon-clock::before {
    background-image: url("../images/clock1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.benefits__icon-diagram::before {
    background-image: url("../images/diagram1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.benefits__icon-astronaut::before {
    background-image: url("../images/astronaut1.svg");
    background-repeat: no-repeat;
    background-position: center;
}