$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-text-color: #ffffff;
$primary--button-color: #188ce8;
$background-button-color: #f5f4fa;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$accent-color: #2196f3;
$secondary-address-color: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$background-team-color: #f5f4fa;
$icon-color: #afb1b8;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
